:root {
  --sans-serif: "Satoshi", sans-serif;
  --serif: "Times New Roman", "Georgia", "Baskerville", serif;
  --color-white: rgb(255, 255, 255); /* #fff */
  --color-black: rgb(0, 0, 0); /* #000 */
}
