:root {
  --sans-serif: "Satoshi", sans-serif;
  --serif: "Times New Roman", "Georgia", "Baskerville", serif;
  --color-white: rgb(255, 255, 255); /* #fff */
  --color-black: rgb(0, 0, 0); /* #000 */
  --color-gallery: rgb(240, 240, 240); /* #f0f0f0 */
  --color-gray: rgb(144, 144, 144); /* #000 40% */
  --color-scorpion: rgb(97, 96, 96); /* #000 60% */
  --color-bon-jour: rgb(242, 240, 241); /* #f2f0f1 */
  --color-alto: rgb(218, 216, 217); /* #000 10% */
  --color-silver: rgb(204, 204, 204); /* #000 20% */
  --color-fair-pink: rgb(255, 235, 235); /* #ff3333 10% */
  --color-red-orange: rgb(255, 51, 51); /* #ff3333 */

  /* custom properties: */
  --z-index-default: 1;
  --z-index-fixed: 5;
  --z-index-overlay: 10;
  --z-index-active-elements: 15;
}
