section.page__brands.brands
  h2.visually-hidden Our store brands
  .brands__wrapper.container
    .brands__container
      .brands__ticker
        .brands__line
          img(src="img/versace-logo.svg", alt="Versace logo").brands__logo
          img(src="img/zara-logo.svg", alt="Zara logo").brands__logo
          img(src="img/gucci-logo.svg", alt="Gucci logo").brands__logo
          img(src="img/prada-logo.svg", alt="Prada logo").brands__logo
          img(src="img/calvin-klein-logo.svg", alt="Calvin Klein logo").brands__logo
