section.page__brands.brands
  h2.visually-hidden Our store brands
  .brands-slider.container.splide
    .brands__container.splide__track
      .brands__ticker.splide__list
        .splide__slide
          img(src="img/versace-logo.svg", width="167" height="34" alt="Versace logo").brands__logo
        .splide__slide
          img(src="img/zara-logo.svg", width="92" height="38" alt="Zara logo").brands__logo
        .splide__slide
          img(src="img/gucci-logo.svg", width="157" height="36" alt="Gucci logo").brands__logo
        .splide__slide
          img(src="img/prada-logo.svg", width="195" height="32" alt="Prada logo").brands__logo
        .splide__slide
          img(src="img/calvin-klein-logo.svg", width="208" height="34" alt="Calvin Klein logo").brands__logo
