section.page__cart.cart
  .container
    h1.cart__title.section-title Your cart
    .cart__content
      .cart__products
        form(action="#" method="POST").cart-products-form
          .cart-products-form__list
            .cart-products-form__item.cart-item
              img(src="/img/cart-product-1.jpg" width="124" height="124", alt="Gradient Graphic T-shirt").cart-item__image
              .cart-item__text-content
                .cart-item__row
                  h2.cart-item__title
                    a(href="#").cart-item__link Gradient Graphic T-shirt
                  button(type="button" aria-label="Remove product from cart").cart-item__delete-button
                    +svg("", "delete-ic", 24, 24, "true")
                .cart-item__row
                  dl.cart-item__list
                    div.cart-item__specification-row
                      dt Size:&thinsp;
                      dd Large
                    div.cart-item__specification-row
                      dt Color:&thinsp;
                      dd White
                .cart-item__row
                  p.prices
                    span.prices__current-price $145
                  .cart-item__quantity.quantity
                    button(type="button" aria-label="Decrease quantity").quantity__button.quantity__button--minus
                      +svg("quantity__icon", "minus-ic", 24, 24, "true")
                    button(type="button" aria-label="Increase quantity").quantity__button.quantity__button--plus
                      +svg("quantity__icon", "plus-ic", 24, 24, "true")
                    label(for="quantity-input__4448754").visually-hidden Quantity product
                    input(tabindex="-1" type="text" name="quantity" id="quantity-input__4448754" pattern="[0-9]*" value="1").quantity__input.input
            .cart-products-form__item.cart-item
              img(src="/img/cart-product-2.jpg" width="124" height="124", alt="Gradient Graphic T-shirt").cart-item__image
              .cart-item__text-content
                .cart-item__row
                  h2.cart-item__title
                    a(href="#").cart-item__link Checkered Shirt
                  button(type="button" aria-label="Remove product from cart").cart-item__delete-button
                    +svg("", "delete-ic", 24, 24, "true")
                .cart-item__row
                  dl.cart-item__list
                    div.cart-item__specification-row
                      dt Size:&thinsp;
                      dd Medium
                    div.cart-item__specification-row
                      dt Color:&thinsp;
                      dd Red
                .cart-item__row
                  p.prices
                    span.prices__current-price $180
                  .cart-item__quantity.quantity
                    button(type="button" aria-label="Decrease quantity").quantity__button.quantity__button--minus
                      +svg("quantity__icon", "minus-ic", 24, 24, "true")
                    button(type="button" aria-label="Increase quantity").quantity__button.quantity__button--plus
                      +svg("quantity__icon", "plus-ic", 24, 24, "true")
                    label(for="quantity-input__45832499").visually-hidden Quantity product
                    input(tabindex="-1" type="text" name="quantity" id="quantity-input__45832499" pattern="[0-9]*" value="1").quantity__input.input
            .cart-products-form__item.cart-item
              img(src="/img/cart-product-3.jpg" width="124" height="124", alt="Gradient Graphic T-shirt").cart-item__image
              .cart-item__text-content
                .cart-item__row
                  h2.cart-item__title
                    a(href="#").cart-item__link Skinny Fit Jeans
                  button(type="button" aria-label="Remove product from cart").cart-item__delete-button
                    +svg("", "delete-ic", 24, 24, "true")
                .cart-item__row
                  dl.cart-item__list
                    div.cart-item__specification-row
                      dt Size:&thinsp;
                      dd Large
                    div.cart-item__specification-row
                      dt Color:&thinsp;
                      dd Blue
                .cart-item__row
                  p.prices
                    span.prices__current-price $240
                  .cart-item__quantity.quantity
                    button(type="button" aria-label="Decrease quantity").quantity__button.quantity__button--minus
                      +svg("quantity__icon", "minus-ic", 24, 24, "true")
                    button(type="button" aria-label="Increase quantity").quantity__button.quantity__button--plus
                      +svg("quantity__icon", "plus-ic", 24, 24, "true")
                    label(for="quantity-input__23347384").visually-hidden Quantity product
                    input(tabindex="-1" type="text" name="quantity" id="quantity-input__23347384" pattern="[0-9]*" value="1").quantity__input.input
      .cart__info
        form(action="#" method="POST").cart-info-form
          h2.cart-info-form__title Order Summary
          .cart-info-form__order-info
            dl.order-info
              .order-info__row
                dt.order-info__subject Subtotal
                dd.order-info__amount $565
              .order-info__row
                dt.order-info__subject Discount&thinsp;
                  span.order-info__discount-size (-20%)
                dd.order-info__amount.order-info__amount--discount-amount -$113
              .order-info__row
                dt.order-info__subject Delivery Fee
                dd.order-info__amount $15
              .order-info__row.order-info__row--total
                dt.order-info__subject.order-info__subject--total Total
                dd.order-info__amount.order-info__amount--total $467
          .cart-info-form__row
            .cart-info-form__promocode.promocode
              input(type="text" id="promocode-input" placeholder="Add promo code").promocode__input.input
              label(for="promocode-input").visually-hidden Enter promocode
            button(type="submit").cart-info-form__promo-button.button Apply
        a(href="#").cart__checkout-button.button.button--with-icon
          span.button__text Go to Checkout
          +svg("button__icon", "arrow-right-ic", 20, 20, "true")
