article.card
  .card__gallery
    .card__big-slider.splide
      .splide__track
        ul.splide__list
          li.splide__slide
            img(src="/img/product-card-image-1.jpg" width="444" height="530", alt="Product image 1")
          li.splide__slide
            img(src="/img/product-card-image-2.jpg" width="444" height="530", alt="Product image 2")
          li.splide__slide
            img(src="/img/product-card-image-3.jpg" width="444" height="530", alt="Product image 3")
    .card__thumbs-slider
      .splide__track
        ul.splide__list
          li.splide__slide
            img(src="/img/product-card-preview-1.jpg" width="152" height="167", alt="Preview image photo 1")
          li.splide__slide
            img(src="/img/product-card-preview-2.jpg" width="152" height="167", alt="Preview image photo 2")
          li.splide__slide
            img(src="/img/product-card-preview-3.jpg" width="152" height="167", alt="Preview image photo 3")
  .card__description
    form(action="#" method="post").card__form.card-form
      h1.card__title One Life Graphic T-shirt
      .rating
        div(role="img" aria-label="Rating 4.5 out of 5").rating__image
          img(src="/img/star-ic.svg" width="18" height="18").rating__star
        p.rating__text 4.5/5
      p.prices
        span.prices__current-price $260
        s.prices__old-price $300
        span.prices__discount -40%
      p.card__info-text This graphic t-shirt which is perfect for any occasion. Crafted from a soft and breathable fabric, it offers superior comfort and style.
      fieldset.card-form__fieldset
        legend.card-form__legend Select Colors
        .color-checkboxes
          label(for="color_1").visually-hidden Green
          input(type="radio" name="color" id="color_1" style="background-color: rgb(79, 70, 49);" checked="checked").color-checkboxes__item
          label(for="color_2").visually-hidden Red
          input(type="radio" name="color" id="color_2" style="background-color: rgb(49, 79, 74);").color-checkboxes__item
          label(for="color_3").visually-hidden Yellow
          input(type="radio" name="color" id="color_3" style="background-color: rgb(49, 52, 79);").color-checkboxes__item
      fieldset.card-form__fieldset
        legend.card-form__legend Choose Size
        .size-checkboxes
          input(type="radio" name="size" id="small-size").visually-hidden.size-checkboxes__checkbox
          label(for="small-size").size-checkboxes__item Small
          input(type="radio" name="size" id="medium-size").visually-hidden.size-checkboxes__checkbox
          label(for="medium-size").size-checkboxes__item Medium
          input(type="radio" name="size" id="large-size").visually-hidden.size-checkboxes__checkbox
          label(for="large-size").size-checkboxes__item Large
          input(type="radio" name="size" id="x-large-size" checked="checked").visually-hidden.size-checkboxes__checkbox
          label(for="x-large-size").size-checkboxes__item X-Large
      .card-form__row
        .quantity
          label(for="quantity-input").visually-hidden
          input(type="text" id="quantity-input" value="1").quantity__input
          button(type="button").quantity__button.quantity__button--minus
            +svg("", "minus-ic", 24, 24)
          button(type="button").quantity__button.quantity__button--plus
            +svg("", "plus-ic", 24, 24)
        button(type="submit").button Add to Cart
