header.site-header.fixed-element
  .quick-registration
    .quick-registration__container.container
      p.quick-registration__text
        | Sign up and get 20% off to your first order.
        a(href="#").quick-registration__link Sign Up Now
      button(type="button" aria-label="Close offer content").quick-registration__close-button.close-button
        +svg("close-button__icon", "close-ic", 20, 20)
  .site-header__container
    .container
      button(type="button" aria-label="Open site navigation").site-header__burger-button.burger-button
        +svg("", "burger-ic", 24, 24, "true")
      if pageName !== "main"
        a(href="#").site-header__logo.logo
          img(src="img/site-logo.svg", width="122" height="18" alt="Logo Shop.co").logo__image
      else
        a.site-header__logo.logo
          img(src="img/site-logo.svg", width="122" height="18" alt="Logo Shop.co").logo__image
      nav.site-header__site-navigation.site-navigation
        .site-navigation__top
          button(type="button" aria-label="Close site navigation").site-navigation__close-button
            +svg("", "close-ic", 20, 20, "true")
        .site-navigation__list
          each item in pugData.site_navigation
            if item.submenu
              .site-navigation__item.dropdown
                button(type="button" class="site-navigation__link dropdown__toggle")= item.link_name
                ul.dropdown__list
                  each submenu_item in item.submenu
                    li.dropdown__item
                      a(href= submenu_item.link_url class="dropdown__link")= submenu_item.link_name
            else
              .site-navigation__item
                a(href= item.link_url class="site-navigation__link")= item.link_name
      .site-header__product-search.product-search
        button(type="button" aria-label="Close search").product-search__close-button
          +svg("", "close-ic", 20, 20)
        form(action="#" method="GET").product-search__form
          label(for="product-search-input").visually-hidden Search for products
          .product-search__wrapper
            input(type="text" placeholder="Search for products..." id="product-search-input").product-search__input.input
            button(type="submit" aria-label="Search").product-search__button
              +svg("", "search-ic", 24, 24)
      .user-navigation
        button(type="button" aria-label="Open search products").user-navigation__open-search-button.user-navigation__item
          +svg("", "search-ic", 24, 24)
        a(href="#" aria-label="Cart").user-navigation__item
          +svg("", "cart-ic", 24, 24)
        a(href="#" aria-label="User account").user-navigation__item
          +svg("", "user-accaunt-ic", 24, 24)
      span.site-header__overlay
