header.site-header
  .site-header__container.container
    button(type="button" aria-label="Open site navigation").site-header__burger-button.burger-button
      +svg("", "burger-ic", 24, 24)
    if pageName !== "main"
      a(href="#").logo
        img(src="img/site-logo.svg", width="122" height="18" alt="Logo Shop.co").logo__image
    else
      a.logo
        img(src="img/site-logo.svg", width="122" height="18" alt="Logo Shop.co").logo__image
    nav.site-header__site-navigation.site-navigation
      button(type="button" aria-label="Close site navigation").site-navigation__close-button
        +svg("", "close-ic", 20, 20)
      ul.site-navigation__list
        each item in pugData.site_navigation
          if item.submenu
            li.site-navigation__item
              span(class="site-navigation__link site-navigation__link--dropdown")= item.link_name
              ul.site-navigation__submenu-list.submenu-list
                each submenu_item in item.submenu
                  li.submenu-list__item
                    a(href= submenu_item.link_url class="submenu-list__link")= submenu_item.link_name
          else
            li.site-navigation__item
              a(href= item.link_url class="site-navigation__link")= item.link_name
    .site-header__product-search.product-search
      button(type="button" aria-label="Close search").product-search__close-button
        +svg("", "close-ic", 20, 20)
      form(action="#").product-search__form
        label(for="product-search-input").visually-hidden Search for products
        .product-search__wrapper
          input(type="text" placeholder="Search for products..." id="product-search-input").product-search__input
          button(type="submit" aria-label="Search").product-search__button
            +svg("", "search-ic", 24, 24)
    .user-navigation
      button(type="button" aria-label="Open search products").user-navigation__open-search-button.user-navigation__item
        +svg("", "search-ic", 24, 24)
      a(href="#" aria-label="Cart").user-navigation__item
        +svg("", "cart-ic", 24, 24)
      a(href="#" aria-label="User account").user-navigation__item
        +svg("", "user-accaunt-ic", 24, 24)
