section.hero
  .hero__container.container
    .hero__text-content
      h1.visually-hidden Shop.co - stylish clothes for every day
      p.hero__slogan Find clothes that matches your style
      p.hero__description Browse through our diverse range of meticulously crafted garments, designed to bring out your individuality and cater to your sense of style.
      a(href="#").hero__button.button Shop Now
      dl.advantages-list
        .advantages-list__item
          dt.advantages-list__title International Brands
          dd.advantages-list__description 200+
        .advantages-list__item
          dt.advantages-list__title High-Quality Products
          dd.advantages-list__description 2,000+
        .advantages-list__item
          dt.advantages-list__title Happy Customers
          dd.advantages-list__description 30,000+
    .hero__media-content
      img(src="img/hero-image.png" width="631" height="663", alt="Autumn сollection 2023").hero__image
