.quick-registration
  .container
    p.quick-registration__text
      | Sign up and get 20% off to your first order.
      a(href="#").quick-registration__link Sign Up Now
    button(type="button" aria-label="Close offer content").quick-registration__close-button.close-button
      +svg("close-button__icon", "close-ic", 20, 20)
