.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-black);
  border-radius: 40px;
  padding: 15px 50px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black);
  transition:
    border-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;

  @include hover-focus {
    border-color: var(--color-black);
    color: var(--color-black);
    background-color: var(--color-white);

    > .button__text {
      color: var(--color-black);
    }
  }

  @include px769 {
    font-size: 16px;
  }
}

.button--secondary {
  border: 2px solid var(--color-white);
  color: var(--color-black);
  background-color: var(--color-white);

  @include hover-focus {
    border: 2px solid var(--color-white);
    color: var(--color-white);
    background-color: var(--color-black);

    > .button__text {
      color: var(--color-white);
    }
  }
}

.button--outline {
  border: 1px solid var(--color-alto);
  padding: 16px 50px;
  color: var(--color-black);
  background-color: var(--color-white);

  @include hover-focus {
    border: 1px solid var(--color-alto);
    background-color: var(--color-alto);

    > .button__text {
      color: var(--color-black);
    }
  }
}

.button--with-icon {
  padding: 14px 50px;

  @include px1025 {
    padding: 12px 50px;
  }
}

.button__text {
  font-weight: 500;
  font-size: 15px;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
  pointer-events: none;
  user-select: none;

  @include px769 {
    font-size: 16px;
  }
}

.button__icon {
  margin-left: 12px;
  fill: currentcolor;
  transition: fill 0.3s ease-in-out;
  pointer-events: none;
  user-select: none;

  @include px1025 {
    width: 24px;
    height: 24px;
  }
}
