.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-black);
  border-radius: 25px;
  padding: 11px 50px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black);
  cursor: pointer;
  user-select: none;
}

.button--secondary {
  border: 2px solid var(--color-white);
  color: var(--color-black);
  background-color: var(--color-white);
}

.button--outline {
  border: 1px solid var(--color-alto);
  color: var(--color-black);
  background-color: var(--color-white);
}

.button__text {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-white);
  pointer-events: none;
  user-select: none;
}

.button__icon {
  margin-left: 12px;
  fill: currentcolor;
  pointer-events: none;
  user-select: none;

  @include px1025 {
    width: 24px;
    height: 24px;
  }
}
