.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-black);
  border-radius: 25px;
  padding: 11px 50px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-black);
  cursor: pointer;
}

.button--secondary {
  border: 2px solid var(--color-white);
  color: var(--color-black);
  background-color: var(--color-white);
}

.button--outline {
  border: 1px solid var(--color-alto);
  color: var(--color-black);
  background-color: var(--color-white);
}
