.cart-item {
  display: flex;
}

.cart-item__image {
  display: block;
  border-radius: 9px;
  width: 90px;
  height: 90px;
  object-fit: cover;

  @include min-xxs {
    width: 99px;
    height: 99px;
  }

  @include min-xs {
    width: 110px;
    height: 110px;
  }

  @include min-lg {
    width: 124px;
    height: 124px;
  }
}

.cart-item__row {
  display: flex;
  justify-content: space-between;
}

.cart-item__row:nth-child(1) {
  margin-bottom: 2px;
}

.cart-item__row:nth-child(2) {
  margin-bottom: 7px;
}

.cart-item__row:nth-child(3) {
  @include min-lg {
    align-items: flex-end;
  }
}

.cart-item__text-content {
  flex-grow: 1;
  margin-left: 14px;

  @include min-lg {
    margin-left: 16px;
  }
}

.cart-item__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  color: var(--color-black);

  @include min-xxs {
    font-size: 16px;
  }

  @include min-md {
    font-size: 18px;
  }

  @include min-lg {
    font-size: 20px;
  }
}

.cart-item__link {
  text-decoration: none;
  color: var(--color-black);

  @include hover {
    text-decoration: underline;
  }
}

.cart-item__link:focus {
  @include outline;
}

.cart-item__delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  @include min-lg {
    width: 24px;
    height: 24px;
  }
}

.cart-item__delete-button:focus {
  @include outline;
}

.cart-item__delete-button svg {
  fill: var(--color-red-orange);
}

.cart-item__list {
  margin: 0;
}

.cart-item__specification-row {
  display: flex;

  @include min-lg {
    margin-bottom: 4px;
  }
}

.cart-item__specification-row dt {
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: var(--color-black);

  @include min-sm {
    font-size: 13px;
  }

  @include min-md {
    font-size: 14px;
  }
}

.cart-item__specification-row dd {
  margin-left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: var(--color-scorpion);

  @include min-sm {
    font-size: 13px;
  }

  @include min-md {
    font-size: 14px;
  }
}

.cart-item__quantity .quantity__input {
  padding: 5px 30px;
  min-width: 90px;
  max-width: 90px;

  @include min-xxs {
    min-width: 105px;
    max-width: 105px;
  }

  @include min-sm {
    padding: 8px 30px;
    min-width: 115px;
    max-width: 115px;
  }

  @include min-md {
    font-size: 14px;
  }

  @include min-lg {
    padding: 12px 33px;
    min-width: 126px;
    max-width: 126px;
  }
}

.cart-item__quantity .quantity__button {
  padding: 1px;
  width: 30px;
  height: 100%;

  @include min-sm {
    width: 35px;
  }

  @include min-lg {
    width: 40px;
  }
}

.cart-item__quantity .quantity__icon {
  width: 16px;
  height: 16px;
}
