.card-form__fieldset {
  margin: 0;
  border: none;
  border-top: 1px solid var(--color-alto);
  padding-top: 24px;
  padding-bottom: 24px;
}

.card-form__fieldset--row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-alto);
  padding-top: 30px;

  @include px1025 {
    padding-top: 24px;
  }
}

.card-form__legend {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-scorpion);

  @include px1025 {
    font-size: 16px;
  }
}

.card-form__fieldset .color-checkboxes {
  margin-bottom: -15px;
}

.card-form__fieldset .size-checkboxes {
  margin-bottom: -8px;
}

.card-form__quantity {
  @include px426 {
    flex: 0 0 140px;
  }

  @include px1025 {
    flex: 0 0 170px;
  }
}

.card-form__button {
  margin-left: 12px;
  padding: 15px 30px;

  @include px1025 {
    margin-left: 20px;
  }
}

.card-form__button.focus-visible:focus {
  @include outline;
}
