.cart-item {
  display: flex;
}

.cart-item__image {
  display: block;
  border-radius: 9px;
  width: 99px;
  height: 99px;
  object-fit: cover;

  @include px1025 {
    width: 124px;
    height: 124px;
  }
}

.cart-item__row {
  display: flex;
  justify-content: space-between;
}

.cart-item__row:nth-child(1) {
  margin-bottom: 2px;
}

.cart-item__row:nth-child(2) {
  margin-bottom: 11px;

  @include px1025 {
    margin-bottom: 15px;
  }
}

.cart-item__row:nth-child(3) {
  @include px1025 {
    align-items: flex-end;
  }
}

.cart-item__text-content {
  flex-grow: 1;
  margin-left: 14px;

  @include px1025 {
    margin-left: 16px;
  }
}

.cart-item__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 15px;
  color: var(--color-black);

  @include px390 {
    font-size: 16px;
  }

  @include px769 {
    font-size: 18px;
  }

  @include px1025 {
    font-size: 20px;
  }
}

.cart-item__link {
  text-decoration: none;
  color: var(--color-black);

  @include hover-focus {
    text-decoration: underline;
  }
}

.cart-item__delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  user-select: none;

  @include px1025 {
    width: 24px;
    height: 24px;
  }
}

.cart-item__delete-button svg {
  fill: var(--color-red-orange);
}

.cart-item__list {
  margin: 0;
}

.cart-item__specification-row {
  display: flex;

  @include px1025 {
    margin-bottom: 4px;
  }
}

.cart-item__specification-row dt {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-black);

  @include px769 {
    font-size: 14px;
  }
}

.cart-item__specification-row dd {
  margin-left: 0;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-scorpion);

  @include px769 {
    font-size: 14px;
  }
}

.cart-item__quantity .quantity__input {
  padding: 7px 36px;
  min-width: 90px;
  max-width: 90px;

  @include px390 {
    min-width: 105px;
    max-width: 105px;
  }

  @include px1025 {
    padding: 12px 20px;
    min-width: 126px;
    max-width: 126px;
  }
}

.cart-item__quantity .quantity__button {
  padding: 1px;
  width: 16px;
  height: 16px;

  @include px1025 {
    width: 20px;
    height: 20px;
  }
}

.cart-item__quantity .quantity__button--minus {
  left: 10px;
}

.cart-item__quantity .quantity__button--plus {
  right: 10px;
}
