.card__main-content {
  margin-bottom: 26px;

  @include px769 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 55px;
  }

  @include px1025 {
    margin-bottom: 80px;
  }
}

.card__gallery {
  margin-bottom: 20px;

  @include px550 {
    display: flex;
    flex-direction: row-reverse;
  }

  @include px769 {
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 0;
  }

  @include px1025 {
    flex-shrink: 1;
    flex-basis: calc(50% - 10px);
    flex-direction: row-reverse;
    margin-right: 40px;
  }
}

.card__big-slider {
  margin-bottom: 12px;

  @include px550 {
    flex-shrink: 1;
    margin-bottom: 0;
  }

  @include px769 {
    margin-bottom: 12px;
  }

  @include px1025 {
    flex: 1 1 calc(75% - 14px);
  }
}

.card__thumbs-slider {
  @include px550 {
    flex-shrink: 0;
    flex-basis: 130px;
    margin-right: 14px;
  }

  @include px769 {
    margin-right: 0;
  }

  @include px1025 {
    flex: 1 3 25%;
    margin-right: 14px;
  }
}

.card__description {
  @include px769 {
    flex-basis: calc(50% - 20px);
  }

  @include px1025 {
    flex-basis: calc(50% - 30px);
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Anybody", sans-serif;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;

  @include px550 {
    font-size: 27px;
  }

  @include px769 {
    font-size: 34px;
  }

  @include px1025 {
    margin-bottom: 14px;
    font-size: 40px;
  }
}

.card__rating {
  margin-bottom: 12px;
}

.card__rating .rating__star {
  width: 18px;
  height: 18px;

  @include px769 {
    width: 20px;
    height: 20px;
  }

  @include px1025 {
    width: 24px;
    height: 24px;
  }
}

.card__rating .rating__text {
  font-size: 14px;

  @include px1025 {
    font-size: 16px;
  }
}

.card__prices {
  margin-bottom: 20px;
}

.card__prices .prices__current-price {
  font-size: 24px;

  @include px769 {
    font-size: 28px;
  }

  @include px1025 {
    font-size: 32px;
  }
}

.card__prices .prices__old-price {
  font-size: 24px;

  @include px769 {
    font-size: 28px;
  }

  @include px1025 {
    font-size: 32px;
  }
}

.card__prices .prices__discount {
  padding: 7px 12px;
  font-size: 14px;
  text-align: center;

  @include px1025 {
    padding: 6px 14px;
    font-size: 16px;
  }
}

.card__info-text {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-scorpion);

  @include px1025 {
    font-size: 16px;
    line-height: 22px;
  }
}

.card__tabs {
  margin-bottom: 50px;
}
