.catalog-cards__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;

  @include px1025 {
    margin-bottom: 16px;
  }
}

.catalog-cards__title {
  flex-grow: 0;
  margin: 0;
  margin-right: 8px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-black);

  @include px1025 {
    font-size: 32px;
  }
}

.catalog-cards__wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include px1025 {
    justify-content: flex-end;
  }
}

.catalog-cards__sorting {
  display: none;

  @include px1025 {
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-scorpion);
  }
}

.catalog-cards__filters-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--color-gallery);
  cursor: pointer;

  @include px1025 {
    display: none;
  }
}

.catalog-cards__filters-button:focus {
  @include outline;
}

.catalog-cards__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  margin-right: -14px;
  padding: 0;

  @include px769 {
    margin-right: -20px;
  }
}

.catalog-cards__item {
  flex-basis: calc((100% - 14px * 2) / 2);
  margin-right: 14px;
  margin-bottom: 24px;

  @include px769 {
    flex-basis: calc((100% - 20px * 3) / 3);
    margin-right: 20px;
  }
}
