.color-checkboxes__item {
  appearance: none;
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 20%);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-color: var(--color-black);
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--color-outline);
  }
}

.color-checkboxes__item:checked {
  border-width: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M14.5306 5.03051L6.5306 13.0305C6.46092 13.1004 6.37813 13.1559 6.28696 13.1938C6.1958 13.2316 6.09806 13.2511 5.99935 13.2511C5.90064 13.2511 5.8029 13.2316 5.71173 13.1938C5.62057 13.1559 5.53778 13.1004 5.4681 13.0305L1.9681 9.53051C1.89833 9.46074 1.84299 9.37792 1.80524 9.28677C1.76748 9.19562 1.74805 9.09792 1.74805 8.99926C1.74805 8.9006 1.76748 8.8029 1.80524 8.71175C1.84299 8.62059 1.89833 8.53777 1.9681 8.46801C2.03786 8.39824 2.12069 8.3429 2.21184 8.30515C2.30299 8.26739 2.40069 8.24796 2.49935 8.24796C2.59801 8.24796 2.69571 8.26739 2.78686 8.30515C2.87801 8.3429 2.96083 8.39824 3.0306 8.46801L5.99997 11.4374L13.4693 3.96926C13.6102 3.82836 13.8013 3.74921 14.0006 3.74921C14.1999 3.74921 14.391 3.82836 14.5318 3.96926C14.6727 4.11015 14.7519 4.30125 14.7519 4.50051C14.7519 4.69976 14.6727 4.89086 14.5318 5.03176L14.5306 5.03051Z' fill='white'/%3E%3C/svg%3E");
}

.color-checkboxes__item--white:checked {
  border-width: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M14.5306 5.03051L6.5306 13.0305C6.46092 13.1004 6.37813 13.1559 6.28696 13.1938C6.1958 13.2316 6.09806 13.2511 5.99935 13.2511C5.90064 13.2511 5.8029 13.2316 5.71173 13.1938C5.62057 13.1559 5.53778 13.1004 5.4681 13.0305L1.9681 9.53051C1.89833 9.46074 1.84299 9.37792 1.80524 9.28677C1.76748 9.19562 1.74805 9.09792 1.74805 8.99926C1.74805 8.9006 1.76748 8.8029 1.80524 8.71175C1.84299 8.62059 1.89833 8.53777 1.9681 8.46801C2.03786 8.39824 2.12069 8.3429 2.21184 8.30515C2.30299 8.26739 2.40069 8.24796 2.49935 8.24796C2.59801 8.24796 2.69571 8.26739 2.78686 8.30515C2.87801 8.3429 2.96083 8.39824 3.0306 8.46801L5.99997 11.4374L13.4693 3.96926C13.6102 3.82836 13.8013 3.74921 14.0006 3.74921C14.1999 3.74921 14.391 3.82836 14.5318 3.96926C14.6727 4.11015 14.7519 4.30125 14.7519 4.50051C14.7519 4.69976 14.6727 4.89086 14.5318 5.03176L14.5306 5.03051Z' fill='black'/%3E%3C/svg%3E");
}
