.simplebar-track.simplebar-vertical {
  right: 3px;
  width: 5px;
  background-color: var(--color-gallery);
}

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  background-color: var(--color-black);
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}
