.dress-style__container {
  border-radius: 20px;
  padding: 40px 16px 19px;
  background-color: var(--color-gallery);

  @include px1025 {
    padding: 70px 64px 66px;
  }
}

.dress-style__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include px1025 {
    margin-right: -20px;
    margin-bottom: -20px;
  }
}

.dress-style__item {
  flex: 1 1 100%;
  margin: 8px;

  @include px769 {
    flex: 0 0 calc((100% - 20px * 2) / 2);
    margin: 10px;
  }

  @include px1025 {
    flex: 1 0 calc((100% - 37.79%) - 20px);
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.dress-style__item--small {
  @include px1025 {
    flex: 1 0 calc((100% - 62.21%) - 20px);
  }
}

.dress-style__link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  min-height: 190px;
}

.dress-style__heading {
  position: absolute;
  left: 16px;
  top: 16px;
  border-radius: 4px;
  padding: 0 8px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-black);
  background-color: var(--color-white);

  @include px769 {
    left: 26px;
    top: 20px;
    font-size: 30px;
  }

  @include px1025 {
    left: 36px;
    top: 25px;
    font-size: 36px;
  }
}

.dress-style__image {
  display: block;
  width: 100%;
  height: 190px;
  object-fit: cover;

  @include px769 {
    height: 240px;
  }

  @include px1025 {
    height: 289px;
  }
}
