.hero {
  background-color: var(--color-bon-jour);
}

.hero__container {
  display: flex;
  flex-direction: column;

  @include min-md {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.hero__text-content {
  padding-top: 40px;

  @include min-md {
    flex: 1 1 50%;
    align-self: center;
    padding-bottom: 40px;
  }
}

.hero__slogan {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Anybody", sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;

  @include min-sm {
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 38px;
  }

  @include min-lg {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 58px;
  }
}

.hero__description {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-scorpion);

  @include min-sm {
    font-size: 16px;
    line-height: 22px;
  }

  @include min-lg {
    margin-bottom: 32px;
    max-width: 560px;
  }
}

.hero__button:focus {
  @include outline;
}

.hero__button {
  margin-bottom: 20px;

  @include min-sm {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 210px;
  }

  @include min-md {
    margin-right: unset;
    margin-left: unset;
  }

  @include min-lg {
    margin-bottom: 48px;
  }
}

.hero__media-content {
  position: relative;
  margin-top: -10px;
  margin-right: -35px;
  margin-left: -35px;

  &::before {
    content: "";
    position: absolute;
    left: 46px;
    top: 95px;
    width: 44px;
    height: 44px;
    background-image: url("../img/hero-decor.svg");
    background-position: center;
    background-size: 44px;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    right: 32px;
    top: 32px;
    width: 76px;
    height: 76px;
    background-image: url("../img/hero-decor.svg");
    background-position: center;
    background-size: 76px;
    background-repeat: no-repeat;
  }

  @include min-md {
    flex: 1 1 50%;
    align-self: flex-end;
    margin-left: 30px;
  }
}

.hero__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
