.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: var(--z-index-overlay);
  display: none;
  background-color: var(--color-black);
  opacity: 0.7;
}

.overlay--active {
  display: block;
}
