.page__brands {
  margin-bottom: 50px;
}

.page__assortment {
  margin-bottom: 50px;
}

.page__dress-style {
  margin-bottom: 50px;
}

.page__store-reviews {
  margin-bottom: 50px;
}

.page__catalog {
  margin-bottom: 60px;
}

.page__cart {
  margin-bottom: 50px;

  @include px1025 {
    margin-bottom: 80px;
  }
}
