.pagination {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-alto);
  }
}

.pagination__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__control:not(.pagination__control[href]) {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-alto);
  border-radius: 8px;
  padding: 9px;
  text-decoration: none;
  opacity: 0.5;

  @include px390 {
    padding: 7px 13px;
  }
}

.pagination__control[href] {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-alto);
  border-radius: 8px;
  padding: 9px;
  text-decoration: none;
  cursor: pointer;

  @include px390 {
    padding: 7px 13px;
  }
}

.pagination__control--next {
  flex-direction: row-reverse;
}

.pagination__control svg {
  display: block;
  width: 16px;
  height: 16px;
  object-fit: contain;

  @include px1025 {
    width: 20px;
    height: 20px;
  }
}

.pagination__control span {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-black);
  user-select: none;

  @include px390 {
    display: block;
  }

  @include px1025 {
    font-size: 14px;
  }
}

.pagination__control--prev span {
  margin-left: 8px;
}

.pagination__control--next span {
  margin-right: 8px;
}

.pagination__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination__item--hidden {
  display: none;

  @include px769 {
    display: list-item;
  }
}

.pagination__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color: var(--color-gray);
  background-color: var(--color-white);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;

  @include hover-focus {
    color: var(--color-black);
    background-color: var(--color-gallery);
  }

  @include px1025 {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

.pagination__link--current {
  color: var(--color-black);
  background-color: var(--color-gallery);
  cursor: default;
}

.pagination__link--disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: var(--color-gray);
  background-color: var(--color-white);
}
