.page__hero {
  overflow-x: hidden;
}

.page__brands {
  margin-bottom: 50px;

  @include min-lg {
    margin-bottom: 72px;
  }
}

.page__assortment {
  margin-bottom: 50px;

  @include min-lg {
    margin-bottom: 64px;
  }
}

.page__dress-style {
  margin-bottom: 50px;

  @include min-lg {
    margin-bottom: 80px;
  }
}

.page__store-reviews {
  margin-bottom: 50px;

  @include min-lg {
    margin-bottom: 80px;
  }
}

.page__catalog {
  margin-bottom: 60px;
}

.page__cart {
  margin-bottom: 50px;

  @include min-lg {
    margin-bottom: 80px;
  }
}
