.page__brands {
  margin-bottom: 50px;
}

.page__assortment {
  margin-bottom: 40px;
}

.page__dress-style {
  margin-bottom: 50px;
}

.page__store-reviews {
  margin-bottom: 50px;
}

.page__pagination {
  margin-bottom: 30px;
}
