.prices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.prices__current-price {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);

  @include min-xxs {
    font-size: 20px;
  }

  @include min-md {
    font-size: 24px;
  }
}

.prices__old-price {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-gray);

  @include min-md {
    font-size: 24px;
  }
}

.prices__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 3px 8px;
  min-height: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: normal;
  color: var(--color-red-orange);
  background-color: var(--color-fair-pink);

  @include min-lg {
    padding: 6px 14px;
    font-size: 12px;
  }
}
