.product-search__close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  text-align: left;
  background-color: transparent;
  cursor: pointer;

  @include px1025 {
    display: none;
  }
}

.product-search__form {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

  @include px1025 {
    position: static;
    transform: none;
  }
}

.product-search__wrapper {
  display: flex;
  border-radius: 30px;
}

.product-search__input {
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px 14px;
  width: 100%;
  background-color: var(--color-gallery);

  @include px1025 {
    order: 2;
    border-radius: 0 45px 45px 0;
  }
}

.product-search__input:focus {
  border: 2px solid var(--color-gray);
}

.product-search__input::placeholder {
  line-height: normal;
}

.product-search__button {
  display: flex;
  flex-shrink: 0;
  flex-basis: 46px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 2px solid transparent;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0;
  background-color: var(--color-gallery);
  cursor: pointer;

  @include px1025 {
    order: 1;
    border-radius: 30px 0 0 30px;
  }
}

.product-search__button:focus {
  border: 2px solid var(--color-gray);
}

.product-search__button svg {
  fill: var(--color-gray);
}
