.product-reviews__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-reviews__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-black);
}

.product-reviews__count {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-scorpion);
}

.product-reviews__controls {
  display: flex;
  align-items: center;
}

.product-reviews__settings-button {
  display: none;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--color-gallery);

  @include min-sm {
    display: flex;
    width: 51px;
    height: 51px;
  }

  @include min-md {
    width: 52px;
    height: 52px;
  }
}

.product-reviews__settings-button:focus {
  @include outline;
}

.product-reviews__sorting-form {
  display: none;

  @include min-md {
    display: block;
    flex-shrink: 0;
    margin-left: 10px;
  }
}

.product-reviews__new-review-button {
  flex-grow: 0;
  flex-shrink: 1;
  margin-left: 10px;
  padding: 15px 5px;

  @include min-xxs {
    padding: 15px 16px;
  }
}

.product-reviews__new-review-button.focus-visible:focus {
  @include outline;
}

.product-reviews__list {
  list-style-type: none;
  margin: 0;
  margin-bottom: -16px;
  padding: 0;
  padding-bottom: 20px;

  @include min-md {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-right: -20px;
    margin-bottom: -20px;
    padding-bottom: 36px;
  }
}

.product-reviews__item {
  margin-bottom: 16px;

  @include min-md {
    display: flex;
    flex-basis: calc((100% / 2) - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.product-reviews__item .review__rating {
  margin-bottom: 0;
}

.product-reviews__load-more-button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 22px;
  max-width: 196px;

  @include min-md {
    max-width: 230px;
  }
}

.product-reviews__load-more-button:focus {
  @include outline;
}
