.promocode {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-image: url("../img/tag-ic.svg");
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    transform: translateY(-50%);

    @include px1025 {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
  }
}

.promocode__input {
  background-color: var(--color-gallery);

  &::placeholder {
    line-height: normal;
  }

  &:focus {
    @include outline;
  }
}
