.rating {
  display: flex;
  align-items: center;
}

.rating__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6px;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-black);
}

.rating__image {
  display: flex;
}

.rating__star {
  display: block;
  width: 15px;
  height: 15px;
  object-fit: contain;

  @include px1025 {
    width: 23px;
    height: 23px;
  }
}

.rating__star:not(:last-of-type) {
  margin-right: 4px;

  @include px1025 {
    margin-right: 6px;
  }
}
