.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  border: 1px solid var(--color-alto);
  border-radius: 20px;
  padding: 24px;
  background-color: var(--color-white);
}

.review__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;
}

.review__button {
  display: none;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  cursor: pointer;
}

.review__button svg {
  fill: var(--color-gray);
}

.review__name {
  order: 2;
  margin-bottom: 8px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);

  @include px1025 {
    font-size: 20px;
  }
}

.review__name--verified {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    margin-left: 4px;
    width: 19px;
    height: 19px;
    background-image: url("../img/verified-ic.svg");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;

    @include px1025 {
      width: 24px;
      height: 24px;
    }
  }
}

.review__text {
  order: 3;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-scorpion);

  @include px1025 {
    font-size: 16px;
    line-height: 22px;
  }
}

.review__date {
  order: 4;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-scorpion);
}

.review__rating {
  margin-bottom: 12px;
}

.review__rating .rating__star {
  width: 19px;
  height: 19px;

  @include px769 {
    width: 21px;
    height: 21px;
  }

  @include px1025 {
    width: 23px;
    height: 23px;
  }
}
