.section-title {
  margin-top: 0;
  font-family: "Anybody", sans-serif;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);

  @include min-sm {
    font-size: 36px;
  }

  @include min-md {
    font-size: 42px;
  }

  @include min-lg {
    font-size: 42px;
  }
}
