.site-navigation {
  padding: 20px;
  background-color: var(--color-white);

  @include px769 {
    padding: 0;
  }
}

.site-navigation__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include px769 {
    flex-direction: row;
  }
}

.site-navigation__item:not(:last-of-type) {
  margin-bottom: 20px;

  @include px769 {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.site-navigation__link {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;

  @include hover-focus {
    text-decoration: underline;
  }
}

.site-navigation__link--dropdown {
  position: relative;
  display: flex;
  align-items: center;

  @include hover-focus {
    text-decoration: none;
  }
}

.site-navigation__link--dropdown::after {
  content: "";
  display: block;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/dropdown-ic.svg");
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.site-navigation__link--active.site-navigation__link--dropdown::after {
  transform: rotate(-180deg);
}

.site-navigation__submenu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-navigation__close-button {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;

  @include px769 {
    display: none;
  }
}
