.site-footer__content {
  padding-top: 32px;
  background-color: var(--color-gallery);

  @include min-lg {
    padding-top: 50px;
  }
}

.site-footer__container {
  padding-bottom: 40px;

  @include min-xs {
    padding: 0 45px 40px;
  }

  @include min-md {
    display: flex;
    padding: 0 15px 40px;
  }

  @include min-lg {
    justify-content: space-between;
    padding: 0 15px 50px;
  }
}

.site-footer__extra {
  @include min-sm {
    max-width: 280px;
  }

  @include min-md {
    flex-basis: 33.33%;
    margin-right: 16px;
    max-width: none;
  }

  @include min-lg {
    flex-basis: 20%;
  }
}

.site-footer__logo {
  margin-bottom: 14px;

  @include min-lg {
    margin-bottom: 25px;
  }
}

.site-footer__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-scorpion);

  @include min-lg {
    margin-bottom: 35px;
    line-height: 22px;
  }
}

.site-footer__socials {
  margin-bottom: 24px;

  @include min-md {
    margin-bottom: 0;
  }
}

.site-footer__store-navigation {
  margin-right: -16px;

  @include min-md {
    flex-basis: 66.67%;
  }

  @include min-lg {
    flex-basis: 71%;
  }
}

.site-footer__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-alto);
  padding: 16px 0 77px;
  width: 100%;

  @include min-md {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 81px;
  }
}

.site-footer__copyright {
  order: -1;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-scorpion);

  @include min-md {
    margin-bottom: 0;
  }
}
