.site-navigation {
  background-color: var(--color-white);
}

.site-navigation__top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-index-active-elements);
  width: 100%;
  background-color: var(--color-white);

  @include px769 {
    display: none;
  }
}

.site-navigation__list {
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  overflow-y: auto;
  margin: 0;
  margin-bottom: -20px;
  padding: 0 20px 20px;
  height: calc(100% - 84px);

  @include px769 {
    position: static;
    flex-flow: row wrap;
    overflow-y: unset;
    margin-right: -24px;
    margin-bottom: -10px;
    padding: 0;
    height: unset;
  }
}

.site-navigation__item {
  margin-bottom: 20px;

  @include px769 {
    margin-right: 24px;
    margin-bottom: 10px;
  }
}

.site-navigation__link:focus {
  outline: 2px solid var(--color-outline);
  outline-offset: 2px;
}

.site-navigation__link {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;

  @include hover {
    text-decoration: underline;
  }

  @include px769 {
    font-weight: 400;
    font-size: 16px;
  }
}

.site-navigation__link--dropdown {
  position: relative;
  display: flex;
  align-items: center;

  @include hover {
    text-decoration: none;
  }
}

.site-navigation__link--dropdown::after {
  content: "";
  display: block;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/dropdown-ic.svg");
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.site-navigation__link--active.site-navigation__link--dropdown::after {
  transform: rotate(-180deg);
}

.site-navigation__submenu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-navigation__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 20px auto;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;

  @include px769 {
    display: none;
  }
}

.site-navigation__close-button svg {
  width: 28px;
  height: 28px;
}
