.site-footer__content {
  padding-top: 32px;
  background-color: var(--color-gallery);
}

.site-footer__container {
  @include px769 {
    display: flex;
  }

  @include px1025 {
    justify-content: space-between;
  }
}

.site-footer__extra {
  @include px550 {
    max-width: 280px;
  }

  @include px769 {
    flex-basis: 33.33%;
    margin-right: 16px;
    max-width: none;
  }

  @include px1025 {
    flex-basis: 20%;
  }
}

.site-footer__logo {
  margin-bottom: 14px;
}

.site-footer__description {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-scorpion);
}

.site-footer__socials {
  margin-bottom: 24px;
}

.site-footer__store-navigation {
  margin-right: -16px;
  margin-bottom: 24px;

  @include px769 {
    flex-basis: 66.67%;
    margin-bottom: 26px;
  }

  @include px1025 {
    flex-basis: 71%;
  }
}

.site-footer__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-alto);
  padding: 16px 0 77px;
  width: 100%;

  @include px769 {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-footer__copyright {
  order: -1;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--color-scorpion);
}
