.size-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.size-checkboxes__item {
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-scorpion);
  background-color: var(--color-gallery);
  cursor: pointer;

  @include px1025 {
    padding: 12px 24px;
    font-size: 16px;
  }
}

.size-checkboxes__checkbox:checked + .size-checkboxes__item {
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-black);
}
