.store-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;

  @include min-md {
    justify-content: flex-end;
  }

  @include min-lg {
    justify-content: space-between;
  }
}

.store-navigation__column {
  flex-basis: 44%;
  margin-right: 16px;
  margin-bottom: 24px;

  @include min-lg {
    flex-basis: calc(20% - 16px);
    margin-bottom: 0;
  }
}

.store-navigation__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-black);

  @include min-lg {
    margin-bottom: 26px;
    font-size: 16px;
  }
}

.store-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.store-navigation__item:not(:last-of-type) {
  margin-bottom: 16px;

  @include min-lg {
    margin-bottom: 19px;
  }
}

.store-navigation__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: var(--color-scorpion);

  &:focus {
    @include outline;
  }

  @include hover {
    text-decoration: underline;
  }

  @include min-md {
    font-size: 15px;
    line-height: 17px;
  }

  @include min-lg {
    font-size: 16px;
    line-height: 19px;
  }
}
