.subscribe-form__wrapper {
  position: relative;
  margin-bottom: 12px;

  &::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-image: url("../img/subscribe-email-ic.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    transform: translateY(-50%);

    @include min-lg {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
  }

  @include min-md {
    margin-bottom: 14px;
  }
}

.subscribe-form__input:focus {
  @include outline;
}

.subscribe-form__input::placeholder {
  line-height: normal;
}

.subscribe-form__button {
  padding: 15px 20px;

  &:focus {
    @include outline;
  }
}
