.subscribe {
  background:
    linear-gradient(0deg,
      var(--color-gallery) 50%,
      var(--color-white) calc(50% + 1px),
    );
}

.subscribe__container {
  border-radius: 20px;
  padding: 30px 24px;
  background-color: var(--color-black);

  @include min-md {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include min-lg {
    padding: 36px 64px;
  }
}

.subscribe__title {
  font-family: "Anybody", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 35px;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-white);

  @include min-md {
    flex-basis: 550px;
    margin-right: 30px;
    margin-bottom: 0;
    line-height: 45px;
  }
}

.subscribe__form {
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;

  @include min-md {
    flex-basis: 350px;
    margin-right: 0;
    margin-left: 0;
    max-width: none;
  }
}
