.subscribe-form__wrapper {
  position: relative;
  margin-bottom: 12px;

  &::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-image: url("../img/subscribe-email-ic.svg");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  @include px769 {
    margin-bottom: 14px;
  }
}

.subscribe-form__button {
  @include px769 {
    padding: 15px 20px;
  }
}
