.user-navigation {
  display: flex;
}

.user-navigation__item:focus {
  @include outline;
}

.user-navigation__item {
  display: flex;
  flex-basis: 24px;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  height: 24px;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
}

.user-navigation__item:hover {
  opacity: 0.7;
}

.user-navigation__item:not(:last-child) {
  margin-right: 12px;
}

.user-navigation__open-search-button {
  cursor: pointer;

  @include px1025 {
    display: none;
  }
}
